# Make sure clams-python version is explicitly specified, at least the lower bound
clams-python==1.3.0
mmif-python[cv]
python-doctr[torch]==0.8.1
torch>=2.*
editdistance == 0.8.1
typing
jiwer == 3.0.4
nltk == 3.8.1